<section class="container-fluid px-0 py-1 py-sm-2 py-md-3 py-lg-4 py-xl-5">
    <div class="container-lg p-4" *ngIf="data$ | async as data">
        <h1 class="fs-4 mb-4">Usuários</h1>
        <div class="row">
            <div class="col-lg-6">
                <form [formGroup]="form">
                    <div class="row">
                        <div class="col-lg-8 mb-4">
                            <div class="form-group">
                                <input type="text" class="form-control bg-white" formControlName="nomeEmail"
                                    placeholder="Pesquise pelo nome ou e-mail" />
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <select class="form-select bg-white" formControlName="filtro">
                                <option selected value="null">Filtrar</option>
                                <option value="1">Todos</option>
                                <option value="2">Ativo</option>
                                <option value="3">Pendente</option>
                                <option value="3">Bloqueado</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 text-end mb-4">
                <button type="button" class="btn btn-primary" title="Adicionar novo usuário" (click)="usuarioAdd()">Novo
                    usuário</button>
            </div>

            <div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col">
                                <span class="small fw-medium">Usuários</span>
                            </div>
                            <div class="col">
                                <span class="small fw-medium">Status</span>
                            </div>
                            <div class="col">
                                <span class="small fw-medium">Data de criação</span>
                            </div>
                            <div class="col">
                                <span class="small fw-medium">Último acesso</span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item" *ngFor="let usuario of data.result.documentos">
                        <div class="row">
                            <div class="col">
                                <span>{{usuario.nome}}</span>
                            </div>
                            <div class="col">
                                <span>{{usuario.status}}</span>
                            </div>
                            <div class="col">
                                <span>{{usuario.criadoEm | date: 'shortDate'}}</span>
                            </div>
                            <div class="col">
                                <span>{{usuario.ultimoAcesso | date: 'shortDate'}}</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>